Django==4.2.14
requests==2.31.0
google-generativeai==0.1.0
python-dotenv==1.0.0
beautifulsoup4==4.12.2
youtube-transcript-api==0.4.4
instaloader==4.9.5
pandas==2.1.1
uuid==1.30
urllib3==2.1.0
corsheaders
cors