Django
requests
google-generativeai
google-genai==1.19.0
youtube-transcript-api==1.1.1
instaloader==4.14
pandas
beautifulsoup4
python-dotenv
urllib3
uuid
django-cors-headers
djangorestframework
gunicorn
whitenoise
supabase
protobuf
